body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  font-size: 40px;
  font-style: bolder;
  color: #ffffff;
  display: flex;
  align-items: center;
}

#home {
  padding-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-top: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
}

.topmenu {
  color: white;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
  background-color: #13979b;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #0eb8e3;
  margin: 30px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
  text-align: justify;
  max-width: 800px;
}

li {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
  text-align: justify;
  max-width: 800px;
}

a {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  max-width: 800px;
}

.iconbutton {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #0eb8e3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

.iconbutton img {
  margin-bottom: 40%;
  margin-right: 50%;
  display: block;
  cursor: pointer;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 40px;
}

.skill-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 40px;
  margin-left: 40px;
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.skill-box:hover {
  transform: scale(1.2);
}

footer {
  margin-top: 50px;
}

.social-links {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column; /* 确保图标竖着排列 */
  gap: 10px; /* 设置每个图标之间的间距 */
}

.icon-box {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
